*{
    background-color: rgb(180, 202, 177);
    margin: 2%;
}
h1{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
    text-align: center;
    color: white;
    background-color: rgb(121, 145, 118);
}
img{
    height: 200px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
h3{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: white;
    background-color: rgb(121, 145, 118);
}
p, li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
table{
    color: black;
    border: white solid;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th{
    background-color: rgb(108, 109, 53);
    border: whitesmoke;
}
td{
    background-color: rgb(221, 216, 148);
    border: whitesmoke;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.img{
    float: right;
    height: 400px;
    width: 450px;
    border-radius: 0%;
}
form{
    width: 50%;
    margin: 20px;
    padding: 20px;
}
label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
input, textarea{
    background-color: rgb(235, 222, 222);
    width: 100%;
    border: 2px rgb(148, 134, 108) solid;
    display: block;
}
input:focus{
    border: 2px solid rgb(42, 83, 51);;
}
button{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    background-color:rgb(235, 222, 222);
    border: 2px rgb(148, 134, 108) solid;
}